<h1>Editar Edificio</h1>

<%= render 'form', building: @building %>

<%= link_to 'Mostrar', @building, class: 'btn btn-primary'  %> |
<%= link_to 'regresar', buildings_path, class: 'btn btn-primary'  %>
